AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4
PointerAlignment: Left
IncludeCategories:
  - Regex:           '^"\.\./'
    Priority:        2
  - Regex:           '^<(TrustWalletCore|TrezorCrypto)/'
    Priority:        3
  - Regex:           '<.*>'
    Priority:        4
  - Regex:           '".*"'
    Priority:        1
