#Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*,portability-*,llvm-*,-llvm-include-order,-modernize-use-nodiscard,-llvm-header-guard'
Checks:          'portability-*'
WarningsAsErrors: ''
HeaderFilterRegex: 'TrustWallet|^src'
AnalyzeTemporaryDtors: false
FormatStyle:     none
InheritParentConfig: false
