---
Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*,portability-*,llvm-*,-llvm-include-order,-modernize-use-nodiscard,-llvm-header-guard'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,portability-*,llvm-*'
HeaderFilterRegex: 'TrustWallet|^src|^./src'
AnalyzeTemporaryDtors: false
FormatStyle:     none
InheritParentConfig: false
...
