---
Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    modernize-*,
    portability-*,
    llvm-*,
    -clang-analyzer-core.uninitialized.Assign,
    -llvm-include-order,
    -llvm-header-guard,
    -llvm-else-after-return,
    -modernize-use-using,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -modernize-deprecated-headers,
    -modernize-avoid-c-arrays
WarningsAsErrors: false
HeaderFilterRegex: '^src|^./src'
AnalyzeTemporaryDtors: false
FormatStyle:     none
InheritParentConfig: false
...
