name: Android CI

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest-large
    if: github.event.pull_request.draft == false
    steps:
    - uses: trustwallet/github-actions-proxy/actions/checkout@main

    - name: Set up JDK 17
      uses: trustwallet/github-actions-proxy/actions/setup-java@main
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: trustwallet/github-actions-proxy/actions/gradle-build-action@main
      with:
        gradle-version: 8.10.2

    - name: Install system dependencies
      run: |
        tools/install-sys-dependencies-mac

    - name: Cache Rust
      uses: trustwallet/github-actions-proxy/actions/rust-cache@main
      with:
        workspaces: |
          rust

    - name: Install Rust dependencies
      run: |
        tools/install-rust-dependencies

    - name: Install Android Dependencies
      run: tools/install-android-dependencies

    - name: Cache internal dependencies
      id: internal_cache
      uses: trustwallet/github-actions-proxy/actions/cache@main
      with:
        path: build/local
        key: ${{ runner.os }}-${{ runner.arch }}-internal-${{ hashFiles('tools/install-dependencies') }}-${{ hashFiles('tools/dependencies-version') }}

    - name: Install internal dependencies
      run: tools/install-dependencies
      if: steps.internal_cache.outputs.cache-hit != 'true'

    - name: Generate files
      run: tools/generate-files android

    - name: Build Kotlin doc
      run: tools/kotlin-doc

    - name: Build tests
      run: |
        pushd android
        ./gradlew assembleAndroidTest
        popd

    - name: Run tests
      uses: trustwallet/github-actions-proxy/actions/android-emulator-runner@main
      with:
        api-level: 30
        target: google_apis
        arch: x86
        ndk: 23.1.7779620
        cmake: 3.18.1
        script: cd android; ./gradlew connectedAndroidTest

    - name: Build sample app
      run: tools/samples-build android
      env:
        GITHUB_USER: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
