name: Android CI

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest-large
    if: github.event.pull_request.draft == false
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up JDK 17
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2.12.0
      with:
        gradle-version: 8.10.2

    - name: Install system dependencies
      run: |
        tools/install-sys-dependencies-mac

    - name: Cache Rust
      uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      with:
        workspaces: |
          rust

    - name: Install Rust dependencies
      run: |
        tools/install-rust-dependencies

    - name: Install Android Dependencies
      run: tools/install-android-dependencies

    - name: Cache internal dependencies
      id: internal_cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: build/local
        key: ${{ runner.os }}-${{ runner.arch }}-internal-${{ hashFiles('tools/install-dependencies') }}-${{ hashFiles('tools/dependencies-version') }}

    - name: Install internal dependencies
      run: tools/install-dependencies
      if: steps.internal_cache.outputs.cache-hit != 'true'

    - name: Generate files
      run: tools/generate-files android

    - name: Build Kotlin doc
      run: tools/kotlin-doc

    - name: Build tests
      run: |
        pushd android
        ./gradlew assembleAndroidTest
        popd

    - name: Run tests
      uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
      with:
        api-level: 30
        target: google_apis
        arch: x86
        ndk: 23.1.7779620
        cmake: 3.18.1
        script: cd android; ./gradlew connectedAndroidTest

    - name: Build sample app
      run: tools/samples-build android
      env:
        GITHUB_USER: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
