name: Kotlin Multiplatform CI

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-14-xlarge
    if: github.event.pull_request.draft == false
    steps:
    - uses: trustwallet/github-actions-proxy/actions/checkout@main

    - name: Set up JDK 17
      uses: trustwallet/github-actions-proxy/actions/setup-java@main
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install Kotlin Dependencies
      run: tools/install-kotlin-dependencies

    - name: Build KMP Sample
      run: |
        ./gradlew --version
        ./gradlew assemble
      working-directory: samples/kmp
      env:
        GITHUB_USER: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
