name: Linux CI SonarCloud

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # if: github.event.pull_request.draft == false
    # Temporarily disabled due to issues with SonarCloud account.
    if: false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install system dependencies
        run: |
          tools/install-sys-dependencies-linux
          tools/install-rust-dependencies

      - name: Cache internal dependencies
        id: internal_cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: build/local
          key: ${{ runner.os }}-${{ runner.arch }}-internal-${{ hashFiles('tools/install-dependencies') }}-${{ hashFiles('tools/dependencies-version') }}

      - name: Install internal dependencies
        run: |
          tools/install-dependencies
        env:
          CC: /usr/bin/clang
          CXX: /usr/bin/clang++
        if: steps.internal_cache.outputs.cache-hit != 'true'

      - name: Code generation
        run: |
          tools/generate-files native
        env:
          CC: /usr/bin/clang
          CXX: /usr/bin/clang++

      - name: CMake (coverage/clang-tidy/clang-asan)
        run: |
          cmake -H. -Bbuild -DCMAKE_BUILD_TYPE=Debug -DTW_CODE_COVERAGE=ON -DTW_ENABLE_CLANG_TIDY=ON -DTW_CLANG_ASAN=ON -GNinja
          cat build/compile_commands.json
        env:
          CC: /usr/bin/clang
          CXX: /usr/bin/clang++

      - name: SonarCloud Scan
        run: |
          ./tools/sonarcloud-analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
